 body{
    display: flex;
background: black;
justify-content: space-between;
align-items: center;
}

.main-div{
    background: teal;
    padding: 20px;
    border-radius: 50%;
    margin-top: 20px;
  
    
}
.sig{
    width: 100px;
    height: 100px;
    background: rgba(65,65,65);
    margin: 30px;
    border-radius: 50%;
    ;
}

.red{
    background: red;
}
.yellow:hover{
    background: yellow;
}
.green:hover{
    background: green;
}
img{
    width:690px ;
   
}